.content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.cadastro-container form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-color: rgba(221, 221, 221, 0.767);
    border-radius: 8px;
}

.cadastro-container form input {
    margin-top: 20px;
    height: 25px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.cadastro-container form select {
    margin-top: 20px;
    height: 28px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fff;
}

.cadastro-container textarea {
    margin-top: 20px;
    padding: 5px;
    border: 0;
    height: 200px;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.cadastro-container form button {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    background-color: #DF4723;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-container form button:hover {
    background-color: rgba(253, 118, 87, 0.664);
}